{# 
  Component: Brands Slider
  Description: Carousel of brand logos.
#}
<section class="py-12 border-t border-gray-100">
    <div class="container">
        <h2 class="sr-only">{{ trans('common.brands') }}</h2>
        <salla-slider type="carousel" loop="true" auto-play="true" items="6" class="brands-slider">
            <div slot="items">
                {% for brand in brands %}
                    <div class="swiper-slide">
                        <a href="{{ brand.url }}" class="block p-4 opacity-50 hover:opacity-100 transition-opacity duration-300 grayscale hover:grayscale-0">
                            <img src="{{ brand.image.url }}" alt="{{ brand.name }}" class="max-h-12 w-auto mx-auto object-contain">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </salla-slider>
    </div>
</section>
